{% extends 'src/base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block hero %}
    {% include 'src/partials/hero.html' %}
{% endblock %}
{% block content %}
        <!-- ======= Features Section ======= -->
    <section id="team" class="team" onload="loaderFunc()">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>お支払い</h2>
          <p>Checkout</p>
        </div>

        <div class="row" data-aos="fade-left">
            <div class="container">
                <div class="row">
{#                <form#}
{#                   id="eazzycheckout-payment-form"#}
{#                   action=" https://api-test.equitybankgroup.com/v2/checkout/launch" method="POST">#}
{#                   <input type="hidden" id="token" name="token" value="{{ payment_token }}">#}
{#                   <input type="hidden" id="amount" name="amount" value="{{ checkout_amount }}">#}
{#                   <input type="hidden" id="orderReference" name="orderReference" value="{{ project.ref_id }}">#}
{#                   <input type="hidden" id="merchantCode" name="merchantCode" value="6695472063">#}
{#                   <input type="hidden" id="merchant" name="merchant" value="Cheka Group">#}
{#                   <input type="hidden" id="currency" name="currency" value="USD">#}
{#                   <input type="hidden" id="custName" name="custName" value="Cheka TV">#}
{#                   <input type="hidden" id="outletCode" name="outletCode" value="0000000000">#}
{#                   <input type="hidden" id="extraData" name="extraData" value="{{ project.ref_id }}">#}
{#                   <input type="hidden" id="popupLogo" name="popupLogo">#}
{#                   <input type="hidden" id="ez1_callbackurl" name="ez1_callbackurl" value="localhost:800/project/{{ project.pk }}">#}
{#                   <input type="hidden" id="ez2_callbackurl" name="ez2_callbackurl" value="localhost:800/project/{{ project.pk }}">#}
{#                   <input type="hidden" id="expiry" name="expiry" value="2025-02-17T19:00:00">#}
{#                   <input type="submit" id="submit-cg" role="button" class="btn btn-primary col-md-4" value="Checkout"/>#}
{#                </form>#}
                    {% if url %}
                        <iframe src="{{ url }}" height="500px" width="100%" allowfullscreen="true" frameborder="0"></iframe>
                    {% else %}
                        <div id="loader"></div>
                    {% endif %}
                </div>
            </div>
        </div>

      </div>
    </section><!-- End Features Section -->
{% endblock content %}

{% block scripts %}
<script>
    let myVar;

    function loaderFunc() {
      myVar = setTimeout(showPayment, 1000);
    }

    function showPayment() {
      document.getElementById("loader").style.display = "none";
    }
</script>
{% endblock scripts %}