{% extends 'src/base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
        <!-- ======= Features Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>従業</h2>
          <p>クラス内容を見ましょう</p>
        </div>
      </div>
    </section><!-- End Features Section -->
    <section id="details" class="details">
      <div class="container">
        <div class="row content">
          <div class="col-md-4 aos-init aos-animate" data-aos="fade-right">
            <img src="/{{ project.thumbnail.url }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4 aos-init aos-animate" data-aos="fade-up">
            <p class="font-italic">
              {{ project.description }} {{ project.checkout_amount  }}
            </p>
          </div>
            <a href=""></a>
        </div>
      <hr>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
{#            <div class="col-md-2" style="background-color: #1acc47">sdsd</div>#}
              <div class="col-md-4">
                  <form
                   id="eazzycheckout-payment-form"
                   action=" https://api-test.equitybankgroup.com/v2/checkout/launch" method="POST">
                   <input type="hidden" id="token" name="token" value="{{ payment_token }}">
                   <input type="hidden" id="amount" name="amount" value="{{ checkout_amount }}">
                   <input type="hidden" id="orderReference" name="orderReference" value="{{ project.ref_id }}">
                   <input type="hidden" id="merchantCode" name="merchantCode" value="6695472063">
                   <input type="hidden" id="merchant" name="merchant" value="Cheka Group">
                   <input type="hidden" id="currency" name="currency" value="USD">
                   <input type="hidden" id="custName" name="custName" value="Cheka TV">
                   <input type="hidden" id="outletCode" name="outletCode" value="0000000000">
                   <input type="hidden" id="extraData" name="extraData" value="{{ project.ref_id }}">
                   <input type="hidden" id="popupLogo" name="popupLogo">
                   <input type="hidden" id="ez1_callbackurl" name="ez1_callbackurl" value="localhost:800/project/{{ project.pk }}">
                   <input type="hidden" id="ez2_callbackurl" name="ez2_callbackurl" value="localhost:800/project/{{ project.pk }}">
                   <input type="hidden" id="expiry" name="expiry" value="2025-02-17T19:00:00">
                   <input type="submit" id="submit-cg" role="button" class="btn btn-primary col-md-4" value="Checkout"/>
                </form>
              </div>
          </div>
      </div>
    </section>
{% endblock content %}