{% extends 'src/base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block hero %}
    {% include 'src/partials/hero.html' %}
{% endblock %}
{% block content %}
        <!-- ======= Features Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>従業</h2>
          <p>クラス内容を見ましょう</p>
        </div>
      </div>
    </section><!-- End Features Section -->
    <section id="details" class="details" style="background-color: white">
      <div class="container" >
        <div class="row content" style="background-color: white">
          <div class="col-md-4 aos-init aos-animate" data-aos="fade-right">
            <img src="/{{ project.thumbnail.url }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4 aos-init aos-animate" data-aos="fade-up">
            <p class="font-italic">
              {{ project.description }} {{ project.checkout_amount  }}
            </p>
          </div>
            <a href=""></a>
        </div>
      <hr>
          <div class="row">
            <div class="offset-4 col-md-8">
                <form action="{% url 'payment' project.pk %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-3">
                            <input type="text" placeholder="First Name" name="first_name" class="form-control" value="" required>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" placeholder="Last Name" name="last_name" class="form-control"  value="" required>
                        </div>
                        <div class="col-lg-3">
                            <input type="email" placeholder="Email" name="email" class="form-control" value="" required>
                        </div>
                        <div class="col-lg-3">
                            <input type="submit" value="PAY NOW" class="btn btn-primary" href="{% url 'payment' project.pk %}">
                        </div>
                    </div>
                </form>
            </div>
          </div>
      </div>
    </section>
{% endblock content %}