{% extends 'src/base.html' %}
{% load static %}
{% block title %}
    {{ title|default:'Donations' }}
{% endblock title %}
{% block hero %}
    {% include 'src/partials/hero.html' %}
{% endblock %}
{% block content %}
        <!-- ======= Features Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>応援購入</h2>
          <p>応援購入</p>
        </div>

            <section id="counts" class="counts" style="background-color: #ffffff">
              <div class="container">
                <div class="row aos-init aos-animate" data-aos="fade-left">
                    {% if donations %}
                        {% for donation in donations %}
                            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                                <div class="card card-inverse card-info flex-fill" style="max-height: 500px">
                                    <img class="card-img-top" src="{{ donation.thumbnail.url }}">
                                    <div class="card-block">
                                        <h4 class="card-title">{{ donation.name }}</h4>
                                        <div class="card-text">
                                            ${{ donation.amount }}
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn btn-primary btn-sm" href="{% url 'donation' donation.pk %}">応援購入</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                        <h5 class="text-center"> No data found</h5>
                        <img src="{% static 'img/Make-a-Donation.png' %}" alt="">
                    {% endif %}
                </div>
              </div>
            </section>

      </div>
    </section><!-- End Features Section -->
{% endblock content %}