{% extends 'src/base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block hero %}
    {% include 'src/partials/hero.html' %}
{% endblock %}
{% block content %}
        <!-- ======= Features Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>アプリ</h2>
          <p>アプリを選ぶ</p>
        </div>
      </div>
    </section>
    <!-- End Features Section -->
    <section id="counts" class="counts" style="background-color: #ffffff">
      <div class="container">
        <div class="row aos-init aos-animate" data-aos="fade-left" >
            <a href="{% url 'projects' %}" style="text-align: center">
                <div class="col-lg-3 col-md-3">
                <div class="icon-box aos-init aos-animate card" data-aos="zoom-in" data-aos-delay="50">
    {#              <i class="ri-store-line" style="color: #ffbb2c;"></i>#}
                    <img id="landing-img" src="{% static 'img/cheka-fam.JPG' %}" alt="">
                    <h3 class="text-center"><a href="{% url 'projects' %}">チェカ オンライン</a></h3>
                </div>
              </div>
            </a>
            <a href="{% url 'ec-index' %}" style="text-align: center">
                <div class="col-lg-3 col-md-3 col-md-3">
            <div class="icon-box aos-init aos-animate card" data-aos="zoom-in" data-aos-delay="100">
{#              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>#}
                <img id="landing-img" src="{% static 'img/IMG_0455.JPG' %}" alt="">
              <h3 class="text-center"><a href="https://cheka-ec.squarespace.com/" target="_blank">EC サイト</a></h3>
            </div>
          </div>
            </a>
            <a href="" style="text-align: center">
                <div class="col-lg-3 col-md-3 col-md-3">
                <div class="icon-box aos-init aos-animate card" data-aos="zoom-in" data-aos-delay="150">
    {#              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>#}
                    <img id="landing-img" src="{% static 'img/Make-a-Donation.png' %}" alt="">
                  <h3 class="text-center"><a href="{% url 'donations' %}" >寄付</a></h3>
                </div>
              </div>
            </a>
            <a href="https://www.youtube.com/channel/UC9mJzvWMhvTZmc_vIRkDflQ" style="text-align: center">
                <div class="col-lg-3 col-md-3 col-md-3">
                <div class="icon-box aos-init aos-animate card" data-aos="zoom-in" data-aos-delay="150">
    {#              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>#}
                    <img id="landing-img" src="{% static 'img/ChekaTV.jpg' %}" alt="" style="">
                  <h3 class="text-center"><a href="https://www.youtube.com/channel/UC9mJzvWMhvTZmc_vIRkDflQ" target="_blank" class="padding-top: 20px">YouTube</a></h3>
                </div>
              </div>
            </a>
      </div>
      </div>
    </section>
{% endblock content %}