{% extends 'src/base.html' %}
{% load static %}
{% block title %}
    {{ 'Success' }}
{% endblock title %}
{% block hero %}
    {% include 'src/partials/hero.html' %}
{% endblock %}
{% block content %}
        <!-- ======= Features Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>お支払いのお知らせ</h2>
        </div>
      </div>
    </section><!-- End Features Section -->
    <section id="details" class="details">
      <div class="container">
        <div class="row content" style="background-color: white">
            <h3 class="text-center" style="text-align: center; margin-left: 20%">支払い取引を受け取りました。サッポトありがとうございました。</h3>
        </div>
          <div class="row">
            <div class="col-md-12 text-center">
                <img style="margin-left: auto; margin-right: auto; display: block" src="{% static 'img/thank-you.jpg' %}" alt="">
            </div>
          </div>
      </div>
    </section>
{% endblock content %}