{% load static %}
<!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">カート</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="show-cart table">

        </table>
        <div>トータル値段: $<span class="total-cart"></span></div>
          <hr>
          <h3>チェックアウト</h3>
          <br>
        <div class="col-md-12">
            <form method="post">
                {% csrf_token %}
                <div class="row">
{#                    <div class="col-lg-4">#}
{#                        <input type="text" placeholder="名" name="first_name" class="form-control" value="" id="firstName" required>#}
{#                    </div>#}
{#                    <div class="col-lg-4">#}
{#                        <input type="text" placeholder="苗字" name="last_name" class="form-control"  value="" id="lastName" required>#}
{#                    </div>#}
{#                    <div class="col-lg-4">#}
{#                        <input type="email" placeholder="メールアド" name="email" class="form-control" value="" id="Email" required>#}
{#                    </div>#}
                    <div class="col-lg-4" style="margin-top: 10px">
                        <input type="text" placeholder="電話番号" name="phone_number" class="form-control"  value="" id="PhoneNumber" required>
                    </div>
                    <div class="col-lg-8" style="margin-top: 10px">
                        <input type="text" placeholder="届くアドレス" name="address" class="form-control" value="" id="Address" required>
                    </div>
{#                    <div class="offset-10 col-lg-12" style="margin-top: 10px">#}
{#                        <button type="submit" class="place-order btn btn-primary pull-right">お支払い</button>#}
{#                    </div>#}
                </div>
            </form>
            <br>
        </div>
          <div class="offset-3 col-md-6 pull-right">
              <div id="paypal-button-container"></div>
          </div>
      </div>
      <div class="modal-footer">
        <button class="clear-cart btn btn-danger">カート削除</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
  <script src="https://www.paypal.com/sdk/js?client-id=AV9Lx4zauCN_SmGw4e7lAByaf6LCDIZO0-201Y45Nit4Xdx6sKMRaiwd7hmDHy1TNFAOl9kZ5KuxcBx-"></script>
 <script src="{% static 'js/cart.js' %}"></script>
 <script>
 function completeTransaction(response) {
   let url = "{% url 'paypal-success' %}"
    let PhoneNumber = document.getElementById('PhoneNumber').value
    let Address = document.getElementById('Address').value
      let data = {
          response: JSON.stringify(response),
          amount: shoppingCart.totalCart(),
          type: 2,
          phone: PhoneNumber,
          address: Address,
          cart: JSON.stringify(shoppingCart.listCart())
      }
    $.ajax({
      url: url,
      type: 'post',
      data: data,
      dataType: 'json',
      success: function (data) {
        if (data) {
          alert(data.message);
          shoppingCart.clearCart();
          location.reload();
        }
      },
      error: function (error) {
          if (error) {
              console.log(error.message)
          }
      }
  });
}

// Render Paypal buttons
 paypal.Buttons({
     style: {
         size: 'small',
         layout:  'vertical',
         shape: 'pill'
     },
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: shoppingCart.totalCart()
          }
        }]
      });
    },
     onApprove: function(data, actions) {
          // This function captures the funds from the transaction.
          return actions.order.capture().then(function(details) {
              console.log(details)
            // This function shows a transaction success message to your buyer.
            completeTransaction(details)
          });
    }
  }).render('#paypal-button-container');
 </script>