{% extends 'src/base.html' %}
{% load static %}
{% block title%}
    {{ title| default:'Products'  }}
{% endblock title %}
{% block hero %}
    {% include 'src/partials/hero.html' %}
{% endblock %}
{% block content %}
    <br>
    <br>
<div class="container">
    <div class="container_inner default_template_holder clearfix page_container_inner">
    <div class="vc_row wpb_row section vc_row-fluid" style=" padding-top:0px; text-align:left;"><div class=" full_section_inner clearfix">
	<div class="vc_col-sm-12 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<div class="projects_holder_outer v3 portfolio_with_space portfolio_standard "><div class="filter_outer"><div class="filter_holder">
                <ul>
                    {% if categories %}
                        {% for x_category in categories %}
                            <li class="filter active current" data-filter="all"><span><a href="{% url 'category_products' x_category.pk %}">{{ x_category.name }}</a></span></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="projects_holder clearfix v3 standard">
            {% if products %}
                {% for product in products %}
                <article class="mix portfolio_category_17 portfolio_category_5  mix_all" style="display: inline-block; opacity: 1;">
                <div class="image_holder">
                    <a class="portfolio_link_for_touch" href="/{{ product.image.url }}" target="_self">
                        <span class="image">
                            <img width="1100" height="825" src="/{{ product.image.url }}" class="attachment-full wp-post-image" alt="{{ product.name }}"></span>
                    </a>
                    <span class="text_holder">
                        <span class="text_outer">
                            <span class="text_inner">
                                <span class="feature_holder">
                                    <span class="feature_holder_icons">
                                        <a class="add-to-cart lightbox qbutton small white" data-name="{{ product.name }}" data-price="{{ product.price }}" title="{{ product.name }}"  href="" data-rel="prettyPhoto[pretty_photo_gallery]" rel="prettyPhoto[pretty_photo_gallery]">Add to Cart</a>
                                        <a class="preview qbutton small white" href="{% url 'product-detail' product.pk %}" target="_self">view</a>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="portfolio_description ">
                    <h5 class="portfolio_title">
                        <a href="{% url 'product-detail' product.pk %}" target="_self">{{ product.name }}</a>
                    </h5>
                    <span class="project_category">${{ product.price }}</span>
                </div>
            </article>
                {% endfor %}

            {% endif %}
            <div class="filler"></div>
            <div class="filler"></div>
            <div class="filler"></div>
        </div>
        <div class="portfolio_paging">
{#            <span rel="2" class="load_more"><a href="">Show more</a></span>#}
        </div>
        <div class="portfolio_paging_loading"><a href="javascript: void(0)" class="qbutton">Loading...</a></div></div>
            <div class="separator  transparent center  " style="margin-top: 20px;margin-bottom: 20px;"></div>
		</div>
	</div>
</div></div>


		</div>
	</div>
{% endblock content %}