  <!-- ======= Footer ======= -->
  <footer id="footer" >
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3 style="color: yellow">Cheka TV</h3>
              <p class="pb-3"><em>A place where we can all learn together.</em></p>
              <p>
                Nairobi <br>
                Cheka Group<br><br>
                <strong>Phone:</strong> +254 704 777 111<br>
                <strong>Email:</strong> horientertainment@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
{#              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>#}
{#              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>#}
            </ul>
          </div>

{#          <div class="col-lg-4 col-md-6 footer-newsletter">#}
{#            <h4>Our Newsletter</h4>#}
{#            <p>Subscribe to our newsletter</p>#}
{#            <form action="" method="post">#}
{#              <input type="email" name="email"><input type="submit" value="Subscribe">#}
{#            </form>#}
{##}
{#          </div>#}

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>FluidTech Global</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://fluidtechglobal.com/" target="_blank" style="color: yellow">FluidTech Global</a>
      </div>
    </div>
  </footer><!-- End Footer -->